
.*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#08142f,#123c96,#2156d6);
padding:20px;
overflow-x:hidden;
}

.container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.box{
width:100%;
max-width:420px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(18px);
padding:40px 30px;
border-radius:25px;
text-align:center;
border:1px solid rgba(255,255,255,.15);
box-shadow:0 20px 45px rgba(0,0,0,.35);
animation:fade .8s ease;
}

.lock{
font-size:65px;
margin-bottom:15px;
}

h1{
font-size:36px;
font-weight:700;
color:#ffffff;
text-shadow:0 0 12px rgba(255,255,255,.7);
margin-bottom:15px;
}

p{
font-size:17px;
line-height:1.6;
color:#e6efff;
margin-bottom:25px;
}

input{
width:100%;
padding:16px;
font-size:17px;
border:none;
outline:none;
border-radius:15px;
background:rgba(255,255,255,.12);
color:white;
margin-bottom:18px;
}

input::placeholder{
color:#d6dfff;
}

button{
width:100%;
padding:16px;
font-size:18px;
font-weight:600;
border:none;
border-radius:15px;
background:#4f8cff;
color:white;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#2e6fff;
transform:scale(1.03);
}

#error{
margin-top:15px;
font-weight:600;
color:#ffbcbc;
min-height:24px;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(25px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@media(max-width:600px){

.box{
padding:30px 22px;
}

h1{
font-size:30px;
}

p{
font-size:15px;
}

  }
